@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    @RenderSection("Scripts", required: false)
    <link rel="icon" href="https://plus.unsplash.com/premium_photo-1661838877293-28e9628e2d50?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" type="image/x-icon" />
</head>
<style>
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin: 0 auto;
    }

    .line {
        height: 4px;
        margin: 0 10px;
    }
</style>
@{
    var roleClaim = User.Claims.FirstOrDefault(c => c.Type == "Role");
    bool isAdmin = roleClaim != null && int.TryParse(roleClaim.Value, out int roleValue) && roleValue == 1;
}

<body>
<div class="container-fluid p-0">
    <header class="bg-dark text-white p-3 mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Animal on your party</h1>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Read", "Booking")"><i class="fi fi-rr-book-alt"></i> Book an Animal</a>
                    </li>
                    @if (isAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Read", "Animal")"><i class="fi fi-rr-paw"></i> Animals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Read", "User")"><i class="fi fi-rr-user"></i> Users</a>
                        </li>
                    }
                    <li class="nav-item text-center p-1">
                        <span class="d-block text-sm">@User.Identity?.Name</span>
                        <a class="d-block text-xs text-muted bg-white rounded w-50 text-black"
                           asp-action="Logout" asp-controller="User"
                           style="text-decoration: none; color: black;">
                            <i class="fi fi-rr-sign-out-alt"></i> Logout
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<!-- Script om de toast te tonen als TempData gevuld is -->
<script>
        // wacht 5 seconden om de melding te verbergen
        setTimeout(function() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000);
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
